@model Doge.Areas.User.Models.DogePostForUser


<div class="card border-info">
    <input hidden id="postId" value="@Model.Post.Id" />
    <div>       
        <img class="card-img-top img-fluid" Image="@Model.Post.DogeImage" />
    </div>
    <div class="card-body">
        @{       
            string _fav = Model.WasFavorited.ToString().ToLower();
            string favText = "Favorite";
            string _favActive = "";
            if (Model.WasFavorited)
            {
                favText = "Unfavorite";
                _favActive = "active";
            }

      
            string _fb = "favButton" + Model.Post.Id.ToString();
        }
        <div class="text-center">

            <a id="@_fb" class="btn btn-primary @_favActive"
               aria-pressed="@_fav" >
                @favText
            </a>


            @{
                string hr = "http://vk.com/share.php?url=";
                hr += Model.Post.DogeImage.URL;
                hr += "&title=DOGE&description=SuperShibe&image=";
                hr += Model.Post.DogeImage.URL;

                if (@Model.Post.DogeImage.URL != null)
                {
                    <a class="btn btn-default"
                       target="_blank"
                       title="On VK.com"
                       href="@hr">
                        Share on <i class="fab fa-vk fa-lg"></i>
                    </a>
                }
            }

        </div>
    </div>
</div>


