@model Doge.Areas.User.Models.DogePostForUser


    <div class="card border-info">
        <input hidden id="postId" value="@Model.Post.Id" />
        <div>
            <img class="card-img-top img-fluid" 

               @{ string imgsrc = "";
                     if (Model.Post.DogeImage.DogeBigImage != null)
                     {
                         
                             var b64 = Convert.ToBase64String(Model.Post.DogeImage.DogeBigImage.Image);
                             imgsrc = string.Format("data:image/jpg;base64,{0}", b64);
                         
                     }
                     else
                     { imgsrc = Model.Post.DogeImage.URL; }
                 }
           
                 src="@imgsrc">
        </div>
        <div class="card-body">
            @{
                bool like = Model.WasLiked;
                string _like = like.ToString().ToLower();
                string _likeActive = "";
                string likeText = "Like";
                if (like)
                {
                    likeText = "Unlike";
                    _likeActive = "active";
                }

                bool fav = Model.WasFavorited;
                string _fav = fav.ToString().ToLower();
                string favText = "Favorite";
                string _favActive = "";
                if (fav)
                {
                    favText = "Unfavorite";
                    _favActive = "active";
                }

                 string _lb = "likeButton" + Model.Post.Id.ToString();
                 string _fb = "favButton" + Model.Post.Id.ToString();
            }
            <div class="text-center">
                
                <a id="@_lb" class="btn btn-primary @_likeActive"
                        aria-pressed="@_like"                        
                        >
                    @likeText
                </a>

                <a  id="@_fb"  class="btn btn-primary @_favActive"
                         aria-pressed="@_fav"                     
                        >
                    @favText
                </a>

                <button type="button" class="btn btn-info">
                    Share
                </button>

            </div>
        </div>
    </div>


   