@model Doge.Utils.PaginatedList<DogeImage>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<h1>Doges in DogeBase</h1>


<p>
    <div class="btn btn-group">
        <a class="btn btn-info" asp-action="Index" asp-route-sortOrder="true">
            ShowOnlyUnapproved
        </a>
        <a class="btn btn-info" asp-action="Index">
            ShowAll
        </a>
    </div>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Pictogram
            </th>
            <th>
                IsApproved
            </th>
            <th>
                Likes
            </th>
            <th>
                Favorites
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <img @{ var b64 = Convert.ToBase64String(item.Pictogram); var imgsrc = string.Format("data:image/jpg;base64,{0}", b64); }
                     src="@imgsrc">

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post.IsApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post.UpVotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post.Users.Count)
            </td>
            <td>
                <div class="btn btn-group">
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    @{
                        if (!item.Post.IsApproved)
                        {
                            <a class="btn btn-success" asp-action="Approve" asp-route-id="@item.Id">Approve</a>
                        }
                    }
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-success @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-success @nextDisabled">
    Next
</a>
